*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.azul{
    width: 100%;
    height: 100%;
    background-color: aqua;
    justify-content: start;
    align-items: center;
}

.amarelo{
    width: 100%;
    height: 100%;
    background-color: yellow;
    justify-content: end;
    align-items: center;
}

.linha{
    height: 33.3%;
    display: flex;
}

.metade{
    width: 50%;
}

.quadrado_azul{
    width: 50px;
    height: 50px;
    background-color: aqua;
    justify-content: end;
    align-items: center;
}

.quadrado_amarelo{
    width: 50px;
    height: 50px;
    background-color: yellow;
    align-items: center;
}

.flex{
    display: flex;
}